
<img class="img-circle img-responsive img-center" src="~/images/antacids.jpg" alt="">
<h3>
    <a asp-controller="Medicament" asp-action="Index">Лекарственные средства</a>
</h3>
<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
<img class="img-circle img-responsive img-center" src="~/images/gripp.jpg" alt="">
<h3>
    <a asp-controller="Medicament" asp-action="List">Боремся с гриппом</a>
</h3>
<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>


<img class="img-circle img-responsive img-center" src="~/images/firsthelp.jpeg" alt="">
<h3>
    <a asp-controller="Medicament" asp-action="InformList">Как правильно принимать лекарства?</a>
</h3>
<p>What does this team member to? Keep it short! This is also a great spot for social links!</p>

