<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Post - Start Bootstrap Template</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/blog-post.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <h1>Быстрое лечение гриппа — возможно ли это?</h1>
                <!-- Author -->
                <p class="lead">
                    by <a href="#">Web Аптека</a>
                </p>
                <hr>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                <hr>
                <!-- Preview Image -->
                <img class="img-responsive" src="~/images/imagepost.jpg" alt="">
                <hr>
                <!-- Post Content -->
                <p class="lead">
                    У взрослого человека сезонный грипп длится от 5 до 10 дней. Хотите вылечить грипп быстро и 
                    при этом эффективно? Тогда начинайте действовать уже при первых признаках болезни. 
                    Чем раньше вы начнете лечение, тем больше шансов избежать осложнений. 
                    И помните, что быстрое лечение гриппа — это комплексное лечение:
                </p>
                <p>В первую очередь — при появлении у вас симптомов гриппа отложите все дела и ложитесь в постель. Если вы хотя бы день проведете, будучи уже больным, на ногах, про быстрое лечение гриппа можете забыть — вы удлините и усугубите течение болезни.</p>
                <p>
                  Лечение симптомов — это далеко не все лечение. Чем раньше вы начнете принимать противовирусные препараты, прописанные врачом,
                  тем выше их эффективность в борьбе с вирусом. Прием таких препаратов может сократить длительность 
                  болезни на 1-2 дня. 
                  Не забывайте и про симптоматическое лечение — препараты для откашливания, избавления от боли в горле, облегчения насморка и жаропонижающие средства.
                </p>
                <p>
                    Грипп — токсичная болезнь, поэтому очень важно много и часто пить: теплую воду, чай с малиной или калиной. Не заставляйте себя есть, если у вас нет аппетита. Скорее всего, организм будет занят тем, как быстро вылечить грипп, а не усвоением пищи.
                </p>
                <p>Во всех советах, как быстро вылечить грипп, лидирует рекомендация по приему ударных доз витамина C — он содержится в цитрусовых, черной смородине и других продуктах.</p>
                <p>Грипп — токсичная болезнь, поэтому очень важно много и часто пить: теплую воду, чай с малиной или калиной. Не заставляйте себя есть, если у вас нет аппетита. Скорее всего, организм будет занят тем, как быстро вылечить грипп, а не усвоением пищи.</p>
                <p>Часто проветривайте помещение — вирус очень хорошо себя чувствует в плохо проветриваемом, теплом помещении.</p>
                <hr>
                </div>
            </div>
        </div>
                <!-- jQuery -->
                <script src="js/jquery.js"></script>
                <!-- Bootstrap Core JavaScript -->
                <script src="js/bootstrap.min.js"></script>
</body>
</html>
